.container {
    position: absolute;
    padding: 1rem 2rem;
    margin: 2rem auto;
    border-radius: 0.5rem;
    min-width: 390px;
    max-height: 100vh;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a:hover {
    font-size: 1.2rem;
}


.container > .button {
    /* display: inline-block; */
    background-color: #0DFCB2;
    width: 95%;
    height: 3rem;
    margin: 1.5rem 0;
    padding: 0 0 8px 0;
    text-align: center;
    align-content: top;
    font-size: 1rem;
    font-weight: 900;
    line-height: 32px;
    border-radius: 32px;
    cursor: pointer;
    line-height: normal;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container > .counterBox {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 10px;
}

.container .counter {
    background: #0DFCB2;
    width: 18px;
    font-size: 13px;
    font-weight: 800;
    border-radius: 50%;
    color: #000;
    padding: 3px 0;
    margin:-15px 0 0 -5px;
    text-align: center;
    position: absolute;
}
.container .cart-img {
    justify-content:space-between;
    margin-left: 4rem;

}
a > img {
    transform: rotate(180deg);
}
.container > .text {
    font-weight: 300;
    letter-spacing: 1px;
    color: black;
}

.btn-qty {
    display: inline-block;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 1rem;
    margin-left:50%;
    margin-top: 1rem;
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 3rem;
    height: 1.5rem;
    font-size: 1rem;
    word-spacing: 0.5rem;

}

hr {
    border: 0.5px solid #f5f5f5;
    width: 100%;
    margin-right: 1rem;
}
.row {
    display: flex;
    justify-content: space-between;
    margin: 0.7rem 0;
    
}
.col {
    flex: 11;
}
.col:last-child {
    flex: 1;
    align-items: end;
    justify-content: flex-end;
    /* right: 0; */
    /* width: 10% */
}
.col2 {
    flex: 1;
    margin-right: 0px;
    width: 50%;
}
small {
    text-align: justify;
}

.container > .title {
    font-weight: 900;
    /* font-size: 1.5rem; */
    text-align: center;
}

.container > .subtitle {
    font-weight: 800;
    text-align: left;
}

.container > .text-center {
    text-align: center;
}

.container > small {
    font-weight: 100;
    color: #f7f7f7;
}

hr.shadow {
    border-top: 1px solid #f5f5ff;
    border-bottom: none;
  /* margin: 25px r; */
  margin-left: -20%;
  width: 140%;
  height: 1px;
  
  /* padding-top: 25px; */
  -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.5);
}