.container > .button {
    /* display: inline-block; */
    background-color: #000;
    color: white;
    width: 100%;
    height: 3rem;
    margin: 0;
    padding: 0;
    text-align: center;
    align-content: top;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 32px;
    border-radius: 32px;
    cursor: pointer;
    line-height: normal;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


